.play-selection-panel {
    flex: .3;
    background-color: #444444;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
    border: 1px solid grey;
}

.play-selection-panel select {
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}

.play-selection-panel button {
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}